/*
Base Width
*/
$base-width: 520px;

/*
Main color
*/
$gray-dark: #555555;
$gray-light: #999999;
$gray-lighter: #eeeeee;
$gray: #777777;
$dark: #333333;

/*
Font
*/
$base-font:  14px "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-upper: 36px;
$font-middle: 24px;

$standart-line: 1.4em;

/*
Backgrounds
*/

$base-bg: #fff;
